body {
    margin: 40px;
}

main {
    margin: 10px;
}

.window {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 21%;
    height: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
    background-color: white;
    transition: 1s;
}

.window:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.25);
}

.title {
    font-size: large;
    font-weight: bold;
    padding-top: 10px;
}

.price {
    padding-top: 10px;
    font-size: xx-large;
    font-weight: bold;
}

.term {
    color: #cccccc;
    font-weight: bold;
}

.text {
    font-weight: bold;
    font-size: small;
    line-height: 1.8;
}

button {
    color: white;
    border-radius: 10px;
    width: 42%;
    height: 35px;
    border: none;
    margin: 20px 0;
}

hr {
    border: none;
    height: 2px;
}

.bcolorRed {
    background-color: red;
}

.bcolorBlue {
    background-color: #455ac7;
}

.bcolorOrange {
    background-color: #cc8c5b;
}

.bcolorGreen {
    background-color: #45cc56;
}