* {
    margin: 0;
    padding: 0;
}

table {
    width: 1000px;
    height: 500px;
    border-collapse: collapse;
    margin: 30px 50px 30px 50px;
    overflow: auto;
}

tr:nth-child(even) td{
    background: #cccccc;
}

th {
    width: 100px;
    height: 40px;
    background-color: rgba(64, 179, 167, 1);
    opacity: 1;
}
tr {
    text-align: center;
}
thead tr th{
    position: sticky;
    top: 0;

}
tbody tr th{
    position: sticky;
    left: 0;
}